Repository IgorSzyporyn/formalizer-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc --write, tslint --config ./tslint.json, cross-env NODE_ENV=test jest --bail --findRelatedTests

.lintstagedrc:

{
  "**/*.{ts,json}": ["prettier --config ./.prettierrc --write", "git add"],
  "**/*.ts": [
    "tslint --config ./tslint.json",
    "cross-env NODE_ENV=test jest --bail --findRelatedTests"
  ]
}

fix: nullable fields have values set on init
  .size-snapshot.json
  src/utils/fieldsToXFields.ts
Due: prettier --config ./.prettierrc --write, tslint --config ./tslint.json, cross-env NODE_ENV=test jest --bail --findRelatedTests

fix: snapshot out of gitignore and tests get prettyfied
  .gitignore
  .prettierignore
  .size-snapshot.json
Due: prettier --config ./.prettierrc --write

fix: added Ajv and JSON plugin for rollout
  package.json
  yarn.lock
Due: prettier --config ./.prettierrc --write

fix: implemented JSON loader for AJV
  rollup.config.js
Due: none

feat: validation and error messaging
  src/formalizer.ts
  src/types.ts
  src/utils/index.ts
  src/utils/initialize.ts
  src/utils/mapEach.ts
  src/utils/value.ts
  src/utils/valueProxyHandler.ts
  src/utils/xFieldArrayValues.ts
  src/utils/xFieldObjectValues.ts
  src/utils/xFieldValidation.ts
  test/utils/xFieldValidation.test.ts
Due: prettier --config ./.prettierrc --write, tslint --config ./tslint.json, cross-env NODE_ENV=test jest --bail --findRelatedTests

feat: tests written for validation
  .size-snapshot.json
  src/formalizer.ts
  test/utils/xFieldValidation.test.ts
Due: prettier --config ./.prettierrc --write, tslint --config ./tslint.json, cross-env NODE_ENV=test jest --bail --findRelatedTests

fix: updated README.md
  README.md
Due: none

fix: snapshot changed again
  .size-snapshot.json
Due: prettier --config ./.prettierrc --write

fix: made a build to update size-snapshot
  .size-snapshot.json
Due: prettier --config ./.prettierrc --write

fix: initXFieldMap needed a return type
  src/utils/initialize.ts
Due: prettier --config ./.prettierrc --write, tslint --config ./tslint.json, cross-env NODE_ENV=test jest --bail --findRelatedTests

fix: xFieldValidation.test needed sorted imports
  test/utils/xFieldValidation.test.ts
Due: prettier --config ./.prettierrc --write, tslint --config ./tslint.json, cross-env NODE_ENV=test jest --bail --findRelatedTests

1.1.0
  package.json
Due: prettier --config ./.prettierrc --write

fix: wrong urls for github in package
  package.json
Due: prettier --config ./.prettierrc --write

Updates
  assets/js/search.js
  classes/_formalizer_.formalizer.html
  interfaces/_types_.ifielddependency.html
  interfaces/_types_.ifieldprops.html
  interfaces/_types_.iformalizeroptions.html
  interfaces/_types_.ionobjectvaluechangeprops.html
  interfaces/_types_.ionobjectvaluedeleteprops.html
  interfaces/_types_.ionxfieldchangeprops.html
  interfaces/_types_.ivalidationschema.html
  interfaces/_types_.ixfieldlistenercallbackprops.html
  interfaces/_types_.ixfieldprops.html
  interfaces/_types_.ixvalue.html
  interfaces/_utils_initialize_.iinitvalueprops.html
  interfaces/_utils_initialize_.iinitxfielddependencies.html
  interfaces/_utils_initialize_.iinitxfieldmap.html
  interfaces/_utils_initialize_.iinitxfields.html
  interfaces/_utils_initialize_.iregisterxfield.html
  interfaces/_utils_xfielddependencies_.idependencyxfieldprops.html
  interfaces/_utils_xfieldvalidation_.icreateerrormessage.html
  modules/_types_.html
  modules/_utils_fieldstoxfields_.html
  modules/_utils_initialize_.html
  modules/_utils_mapeach_.html
  modules/_utils_messages_.html
  modules/_utils_value_.html
  modules/_utils_valueproxyhandler_.html
  modules/_utils_xfieldarrayvalues_.html
  modules/_utils_xfielddependencies_.html
  modules/_utils_xfielderrormessage_.html
  modules/_utils_xfieldlistener_.html
  modules/_utils_xfieldobjectvalues_.html
  modules/_utils_xfieldstorefmap_.html
  modules/_utils_xfieldvalidation_.html
  modules/_xfieldmap_.html
Due: none

fix: wrong values in array and object fixed
  .size-snapshot.json
  README.md
  rollup.config.js
  src/formalizer.ts
  src/utils/initialize.ts
  src/utils/xFieldArrayValues.ts
  src/utils/xFieldObjectValues.ts
Due: prettier --config ./.prettierrc --write, tslint --config ./tslint.json, cross-env NODE_ENV=test jest --bail --findRelatedTests

fix: updated rollup
  .size-snapshot.json
  yarn.lock
Due: prettier --config ./.prettierrc --write

fix: added punctuation
  README.md
Due: none

fix: updated node engine in travis CI
  .travis.yml
Due: none

fix: added NODE_ENV to travis config
  .travis.yml
Due: none

fix: removed NODE_ENV from travis config
  .travis.yml
Due: none
