Repository IgorSzyporyn/formalizer-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc --write, tslint --config ./tslint.json, cross-env NODE_ENV=test jest --bail --findRelatedTests

fix: value sanitize for object accepted arrays also
  .size-snapshot.json
  src/utils/value.ts
  test/utils/value.test.ts
Due: prettier --config ./.prettierrc --write, tslint --config ./tslint.json, cross-env NODE_ENV=test jest --bail --findRelatedTests

feat: array capabilities added
  .size-snapshot.json
  src/formalizer.ts
  src/models/field.ts
  src/models/xfield.ts
  src/types.ts
  src/utils/fieldsToXFields.ts
  src/utils/initialize.ts
  src/utils/value.ts
  src/utils/valueProxyHandler.ts
  src/utils/xFieldArrayValues.ts
  src/utils/xFieldObjectValues.ts
  src/utils/xFieldProxyHandler.ts
Due: prettier --config ./.prettierrc --write, tslint --config ./tslint.json, cross-env NODE_ENV=test jest --bail --findRelatedTests

fix: added size-snapshot.json to .gitignore
  .gitignore
  .size-snapshot.json
Due: prettier --config ./.prettierrc --write

feat: will now invoke a dependency on instanciation
  .size-snapshot.json
  src/models/field.ts
  src/types.ts
  src/utils/initialize.ts
  src/utils/xFieldDependencies.ts
Due: prettier --config ./.prettierrc --write, tslint --config ./tslint.json, cross-env NODE_ENV=test jest --bail --findRelatedTests

fix: pesky .size-snapshot
  .size-snapshot.json
Due: prettier --config ./.prettierrc --write

feat: dependencies success and failure uses template
  .size-snapshot.json
  .travis.yml
  src/types.ts
  src/utils/xFieldDependencies.ts
Due: prettier --config ./.prettierrc --write, tslint --config ./tslint.json, cross-env NODE_ENV=test jest --bail --findRelatedTests

fix: damn snapshot file
  .size-snapshot.json
Due: prettier --config ./.prettierrc --write

fix: travis updated
  .size-snapshot.json
  .travis.yml
Due: prettier --config ./.prettierrc --write

fix: travis updated
  .travis.yml
Due: none

fix: travis updated
  .npmignore
  .travis.yml
  README.md
  package.json
  yarn.lock
Due: prettier --config ./.prettierrc --write

fix: travis updated
  README.md
Due: none

fix: added docs to .gitignore
  .gitignore
Due: none

fix: tsconfig fixes
  .size-snapshot.json
  package.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --config ./.prettierrc --write

fix: tsconfig tweaked
  tsconfig.json
Due: prettier --config ./.prettierrc --write

fix: see if exported functions is the problem for TS2309
  src/utils/xFieldProxyHandler.ts
Due: prettier --config ./.prettierrc --write, tslint --config ./tslint.json, cross-env NODE_ENV=test jest --bail --findRelatedTests

fix: another round of travis
  .size-snapshot.json
  .travis.yml
Due: prettier --config ./.prettierrc --write

fix: another round of travis
  .travis.yml
Due: none

fix: updated readme
  README.md
Due: none

fix: setting default NODE_ENV in travis
  .travis.yml
Due: none

fix: embedded proxyhandler function where it was used
  package.json
  src/utils/xFieldListener.ts
  src/utils/xFieldProxyHandler.ts
  yarn.lock
Due: prettier --config ./.prettierrc --write, tslint --config ./tslint.json, cross-env NODE_ENV=test jest --bail --findRelatedTests

fix: attempt at message for travis resulted in exit code 1
  .travis.yml
Due: none

fix: aligned travis and package on node engines
  .travis.yml
  package.json
Due: prettier --config ./.prettierrc --write

fix: fixing some travis inside this PR
  .travis.yml
Due: none

style: updated github with logo
  README.md
Due: none

fix: smaller logo
  README.md
Due: none

fix: saved NPM_EMAIL reference used in travis
  .travis.yml
Due: none

fix: travis failed deploy because no docs
  .travis.yml
  README.md
Due: none

fix: forgot to change script name to docs instead of typedocs
  .travis.yml
  README.md
Due: none

fix: removed fields from options on formalizer
  .size-snapshot.json
  src/formalizer.ts
  test/formalizer.test.ts
  test/utils/fieldsToXFields.test.ts
Due: prettier --config ./.prettierrc --write, tslint --config ./tslint.json, cross-env NODE_ENV=test jest --bail --findRelatedTests

Path conditions:
  prettier --config ./.prettierrc --write: any of: **/*.{ts,json}
  tslint --config ./tslint.json: any of: **/*.ts
  cross-env NODE_ENV=test jest --bail --findRelatedTests: any of: **/*.ts
